:root {
    --background: #333745;
    --font-White-l:#ffffff44;
    --font-White: #ffffff;
    --font-White2: #dddddd;
    --login-Msg:#fc456d;
    --header-BG:#20222b;
    --header-Sub: #a5afd7;
    --mainColor:#8357c5;
    --add-form:#62687d22;
    --btn-link-l:#959fc7cc;
    --option-bg:#52586d22;
    --add-input-bg:#282c3a;
    --add-input-border:#1d202877;
    --input-placeholder:#737795;
    --option-line:#5c627b;
}


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    /* font-size: 1rem == 10px; */
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    background-color: var(--background);
    font-size: 2rem;
    font-weight: bold;

}


.card input {
    margin: .5rem;
    height: 5rem;
    width: 100%;
    padding-left: 2rem;
    font-size: 1.8rem;
    margin: 1rem 0;
}

#loginBtn {
    margin: 2rem 0;
    width: 100% !important;
    height: 5rem;
}


h1 {
    text-align: center;
    margin: 2rem 0
}

.card {
    color: var(--font-White);
    width: 500px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;

    /*border: 1px solid red;*/
}



form {
    width: 80%;
    margin: auto;
    /*background: red;*/
}

/* login mesage  */
form h4 {
    text-align: center;
    color: var(--login-Msg);
}


.header {
    background: var(--header-BG);
    color: var(--font-White);
    margin-bottom: 1.6rem;
    padding: 1.6rem 0;
}

.header__title {
    font-size: 3.2rem;
    margin: 0;
}

.header__subtitle {
    color: var(--header-Sub);
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
}

.widget-header {
    background: #2c3241;
    color: #c5cfe7;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
}


[type="submit"] {
    background: var(--mainColor);
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-radius: 5px;
    text-transform: uppercase;
}


.button,
[type="submit"] {
    color: var(--font-White);
    font-weight: 500;
    padding: 1.2rem;
    cursor: pointer;
}

.card2 {
    color: var(--font-White);
    width: 500px;
    margin-top: 5rem;
    margin: auto;
    padding: 1rem;
}

.control {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-transform: uppercase;
}

.add-option {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1.6rem;
    background: var(--add-form);
    margin-bottom: 2rem;
}

.add-option__input {
    background: var(--add-input-bg);
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    color: var(--header-Sub);
    border-bottom: 0.3rem solid var(--add-input-border);
    flex-grow: 3;
    /*margin: 0 0 1.2rem 0;*/
    padding: 1.2rem;
    height: 5rem;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--input-placeholder);
    opacity: 1;
    /* Firefox */
    font-size: 1.8rem;
}

.add-option button {
    height: 5rem;
    width: 8rem;
    margin-left: 1rem;

}

/*.widget-header > button:nth-child(2).*/
.button--link {
    background: none;
    border: none;
    color: var(--header-Sub);
    padding: 0;
}

.option {
    border-bottom: 1px solid var(--option-line);
    display: flex;
    justify-content: space-between;
    padding: 2.2rem 1.6rem;
    background: var(--option-bg);

}

.option__text {
    color: var(--font-White2);
    font-weight: 500;
    font-size: 1.8rem;
    margin: 0;
    word-break: break-all;
}

.control a.button--link {
    font-size: 1.5rem;
    padding: .2rem 0;
    text-decoration: none;
    border-bottom: 2px solid var(--btn-link);

}

.option a.button--link {
    font-size: 1.7rem;
    margin-left: 1rem;
}

.noteMsg {
    text-align: center;
    color: var(--font-White-l);
    margin: 1rem;
}

.widget-header a.button--link {
    font-size: 1.7rem;
}